<!-- <h1>App component</h1>
<p>This is the root component</p> -->
<ul>
    <li><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a href="" [routerLink]="['/pipes']">Pipes</a></li>
    <li><a href="" [routerLink]="['/parent']" routerLinkActive="active">Parent</a></li>
    <li><a href="" [routerLink]="['/products']" routerLinkActive="active">Products</a></li>
    <li><a href="" [routerLink]="['/users']" routerLinkActive="active">Users</a></li>

    <li><a href="" [routerLink]="['/alex']" routerLinkActive="active">404</a></li>
</ul>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>