<div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus vitae explicabo, itaque a <span
            style="visibility: hidden">sky is blue</span>eiciendis facere iusto
        tempore nam magnam aliquid doloremque quas inventore voluptatum laborum quibusdam autem quia dolorum? Harum!</p>
    <button (click)="toggleImage()">Show Image</button>
    <img *ngIf="showImage"
        src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/ce2ece60-9b32-11e6-95ab-00163ed833e7/260663710/the-test-fun-for-friends-screenshot.jpg"
        alt="">
</div>