<!--
    <h1 [ngStyle]="{'color': headColor}">{{heading}}</h1>
<input type="text" (keyup)="updateAge($event)"> -->
<button (click)="toggleOptions($event)" [value]='age'>Show Input for age</button>
<button (click)="toggleOptions($event)" [value]='number'>Show Input for number</button>
<!-- <button>Show Input for number</button> -->
<div *ngIf="showAgeBox">

    <h1 [ngStyle]="{'color': age?(age>=18?'green':'red'):'black'}">{{age?(age>=18?'Valid age':'Invalid age'):'Please
        enter
        age'}}</h1>
    <input placeholder="Enter age" type="text" [(ngModel)]="age">
</div>
<br>
<div *ngIf="!showAgeBox">
    <input placeholder='Enter number' type="text" [(ngModel)]="number">

    <p [ngStyle]="{'color': isString()?'red':(checkEven()=='Even number'?'green':'blue')}">{{isString()?'Only numbers
        allowed': checkEven()}}</p>
</div>